body{
    background-size: cover;
    
}

.heading{
    width: 100%;
    margin: 0px;
    font-size: 28px;
}

.note{
    font-size:20px;
}

canvas{
    border: 5px solid white;
    box-shadow: 5px 5px 18px white;
    margin: 50px;
}